*.class
*.ctxt
*.ear
*.iml
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.DS_Store
.cxx
.externalNativeBuild
.gradle
.mtj.tmp/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
hs_err_pid*
local.properties
submission.txt.DS_Store
